.heading{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: red;
    margin-top: 2rem;
}

.offer_section{
    background-color: rgb(7, 7, 67);
    color: #fff;
    height: 250px;
    margin: 1rem  5rem;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}
.timer_img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    padding: 1rem;
}
.timer_img img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    width: 600px;
}
.timer span{
    color:red;
}
@media screen and (max-width:768px){
    .offer_section{
        margin: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .timer{
        width: 90%;
    }
}


@media screen and (max-width:400px) {
    .offer_section{
        margin: 1rem  .5rem;
    }
    .heading{
        font-size: 1.8rem;
    } 
}

