.heading{
    color:red;
    text-align: center;
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 3rem;

}


.product_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


.offer_section{
    background-color: rgb(7, 7, 67);
    color: #fff;
    height: 250px;
    margin: 1rem  5rem;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;

    padding: 2rem;
}
.timer_img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.timer_img img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    width: 500px;
}
@media screen and (max-width:768px){
    .offer_section{
        margin: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .timer{
        width: 100%;
    }
}


@media screen and (max-width:400px) {
    .offer_section{
        margin: 1rem  .5rem;
    }
    .heading{
        font-size: 1.8rem;
    } 
}

